extends layout

block content
  h1= Signaler un abus
  ul

  form(action='/', method='post')
    input(type='text', name='prenom')
    input(type='text', name='nom')
    input(type='number', name='age')
    input(type='email', name='mail')
    input(type='submit')
