extends layout

block content
 h1= title
  form(action='/', method='post')
    input(type='text', name='nom', placeholder='Nom')
    input(type='email', name='mail', placeholder='Email')
    input(type='email', name='text', placeholder='Description')
    input(type='submit')
