extends layout

block content
 body.add
  button.ph-button.ph-btn-retour
    a(href="/") Retour
  h1 Ajoutes un bon plan!
 .ground
    form(action='/theend', method='POST')
      input(type='text', name='nom',  placeholder='Titre du bon plan', class='ground')
      input(type='text', name='nom',  placeholder='Tarif', class='ground')
      input(type='text', name='nom',  placeholder='Nom', class='ground')
      input(type='email', name='mail', placeholder='Email', class='ground')
      input(type='text', name='text', placeholder='Description', size="50", class="height", class='ground')
      input(type="submit", value="Soumettre")
