extends layout

block content

  form(action='/', method='POST')
    input(type='text', name='Desciption', placeholder='Bon plan')
    input(type='email', name='mail', placeholder='Email')
    input(type='submit')
