extends layout

block content

  form(action='/', method='POST')
    input(type='text', name='Description', placeholder='J'ai un bon plan')
    input(type='email', name='mail', placeholder='Email')
    input(type='submit')
