extends layout

block content
 body.art
  h1 Art
   ul
    li MUSÉE GRÉVIN : Le 4 juillet, l'association PLD organise une visite du musée grévin. 68 Boulevard Davout, 75020 Paris - 01 42 08 57 11 - GRATUIT

    li MUSÉE DU LOUVRE : Le 7 juillet, l'assocation OLGA SPITZER organise une visite du musée du louvre. 35 rue de la folie regnault, 75011 Paris - 01 43 70 86 32 - GRATUIT

    li LE MUSÉE DU QUAI BRANLY : Le 9 juillet, l'association PLD organise une visite du musée du quai branly, 68 Boulevard Davout, 75020 Paris - 01 42 08 57 11 - GRATUIT

    li CENTRE POMPIDOU : Le 12 juillet, l'association OLGA SPITZER organise une visite du centre pompidou, 35 rue de la folie regnault, 75011 Paris - 01 43 70 86 32 - GRATUIT

    li MUSÉE DE L'ORANGERIE : Le 14 juillet, l'assocation AGECA organise une visite au musée de l'orangerie. 108bis Avenue Philippe-Auguste, 75011 Paris - 01 43 67 39 35 - GRATUIT

    li MUSÉE DE LA MUSIQUE : Le 16 juillet, l'assocation PLD organise une visite au musée de la musique, 68 Boulevard Davout, 75020 Paris - 01 42 08 57 11 - GRATUIT
