extends layout

block content
 body.categories
  h1 Holi'Ville
  a(href="categories/sport")
      button.ph-button.ph-btn-orange(type="button") Sport
  a(href="categories/art")
      button.ph-button.ph-btn-green(type="button") Art
  a(href="categories/sorties")
      button.ph-button.ph-btn-grey(type="button") Sorties et Visites
  a(href="categories/abuse")
      button.ph-button.ph-btn-purple(type="button") Signaler un abus
