extends layout

block content
  h1 Belleville bons plans
  a(href="categories/sport")
      button(type="button") Sport
  a(href="categories/art")
      button(type="button") Art
  a(href="categories/musique")
      button(type="button") Musique
  a(href="categories/abuse")
      button(type="button") Signaler un abus
