extends layout

block content
 body.categories
 button.ph-button.ph-btn-retour
   a(href="/") Retour
 h1 Holi'Ville
  .sudoku
      a(href="categories/sport")
       button.ph-button.ph-btn-blue(type="button") Sport
      a(href="categories/art")
       button.ph-button.ph-btn-orange(type="button") Art
      a(href="categories/sorties")
       button.ph-button.ph-btn-purple(type="button") Sorties et Visites
      a(href="categories/culture")
       button.ph-button.ph-btn-blue(type="button") Culture
      a(href="categories/fete")
       button.ph-button.ph-btn-orange(type="button") Fête
      a(href="categories/bonsplans")
       button.ph-button.ph-btn-purple(type="button") Maxi bons plans
      a(href="categories/divers")
       button.ph-button.ph-btn-blue(type="button") Divers
      a(href="categories/cuisine")
       button.ph-button.ph-btn-orange(type="button") Cuisine
