extends layout

block content
  h1 Holi'Ville
  a(href="categories/sport")
      button.ph-button.ph-btn-blue(type="button") Sport
  a(href="categories/art")
      button.ph-button.ph-btn-green(type="button") Art
  a(href="categories/musique")
      button.ph-button.ph-btn-grey(type="button") Musique
  a(href="categories/abuse")
      button.ph-button.ph-btn-red(type="button") Signaler un abus
