extends layout

block content
 body.index
  h1= title
  p Holi'Ville, une façon de s'amuser mâlin dans son quartier et sa ville!
  ul
    each error in errors
      li= error

  form(action='/http://localhost:3000/categories/', method='link')
    input(type='text', name='prenom', placeholder='Prénom')
    input(type='text', name='nom', placeholder='Nom')
    input(type='number', name='age', placeholder='Age')
    input(type='email', name='mail', placeholder='Email')
    input type="submit" value="cliquez ici"
