extends layout

block content
  h1= title
  p Belleville bon plan, une façon de s'amuser mâlin dans son quartier et sa ville!
  img(src='/images/presentation.jpg')
  ul
    each error in errors
      li= error

  form(action='/', method='post')
    input(type='text', name='prenom')
    input(type='text', name='nom')
    input(type='number', name='age')
    input(type='email', name='mail')
    input(type='submit')
