extends layout

block content
  h1 Holi'Ville
  a(href="categories")
      button.ph-button.ph-btn-purple(type="button") Trouver Bons plans
  a(href="create")
      button.ph-button.ph-btn-orange(type="button") Ajouter Bons plans
