extends layout

block content
 body.index
  h1 Holi'Ville
  a(href="users")
      button.ph-button.ph-btn-purple.left(type="button") Trouver Bons plans
  a(href="create")
      button.ph-button.ph-btn-orange.left(type="button") Ajouter Bons plans
