extends layout

block content
 body.visit
  h1 Sorties et visites
  ul
     li SORTIES : BASE DE LOISIR DE CERGY : Le 4 juillet, l'association PLD organise une sortie à la base de loisir de cergy, une baignade et des activités nautiques sont prévu. 68 Boulevard Davout, 75020 Paris - 01 42 08 57 11 - 4€
     li BASE DE LOISIR DE TORCY : Le 7 juillet, l'assocation OLGA SPITZER organise une sortie à la base de loisir de torcy, une baignade et des activités nautiques sont prévu. 35 rue de la folie regnault, 75011 Paris - 01 43 70 86 32 - 2€
     li PLAGE DE TROUVILLE : Le 9 juillet, l'association PLD organise une sortie à la plage de trouville, 68 Boulevard Davout, 75020 Paris - 01 42 08 57 11 - 5€
     li FUTUROSCOPE : Le 12 juillet, l'association OLGA SPITZER organise une sortie au futuroscope, 35 rue de la folie regnault, 75011 Paris - 01 43 70 86 32 - 5€
     li DÉFILÉ 14 JUILLET : Le 14 juillet, l'assocation AGECA organise une sortie au défilé du 14 juillet 108bis Avenue Philippe-Auguste, 75011 Paris - 01 43 67 39 35 - GRATUIT
     li CINÉMA : Le 16 juillet, l'assocation PLD organise une sortie au cinéma, 68 Boulevard Davout, 75020 Paris - 01 42 08 57 11 - GRATUIT
