extends layout

block content
 body.sport
  form(action="/categories", method="post")
   button.ph-button.ph-btn-retour(type="submit", value="Retour")
  h1 Sport
   select.tri
     option DATE
     option PRIX
     option DISTANCE
  ul
    li FOOTBALL DANS LE 75011 : Du 1er Juillet au 31 Juillet, le gymnase philippe auguste est ouvert au public, des tournois de foot seront organisé par des animateurs sportifs. 68 Avenue Philippe-Auguste, 75011 Paris - 01 43 67 39 35 - GRATUIT

    li BASKETBALL DANS LE 75020 : Du 1er Juillet au 31 Juillet, le gymnase louis lumière est ouvert au public, des tournois de basket seront organisé par des animateurs sportifs. 30 rue Louis Lumière 75020 Paris - 01 43 70 86 32 - GRATUIT

    li ESCALADE DANS LE 75019 : Du 1er Juillet au 31 Juillet, le gymnase jean-jaurès est ouvert au public, des atliers d'escalade seront organisé par des animateurs sportifs. 87 Avenue Jean Jaurès, 75019 Paris - 01 42 08 57 11 - 2€

    li SAUT EN LONGUEUR DANS LE 75011 : Du 1er aout au 31 aout, le gymnase philippe auguste est ouvert au public, des cours de saut en longueur seront organisé par des animateurs sportifs. 68 Avenue Philippe-Auguste, 75011 Paris - 01 43 67 39 35 - GRATUIT

    li TENNIS DANS LE 75011 : Du 1er Juillet au 31 Juillet, le terrain philippe auguste est ouvert au public, des tournois de tennis seront organisé par des animateurs sportifs. 108bis Avenue Philippe-Auguste, 75011 Paris - 01 43 67 39 35 - GRATUIT

    li BOXE DANS LE 75011 : Du 1er Juillet au 31 Juillet, le gymnase japy est ouvert au public, des cours de boxe seront organisé par des animateurs sportifs. 2 rue Japy 75011 Paris - 01 43 70 86 32 - GRATUIT

    li JEUX DIVERS DANS LE 75020 : Du 1er Juillet au 31 Juillet, le gymnase louis lumière est ouvert au public, des jeux divers seront organisé par des animateurs sportifs. 30 rue Louis Lumière 75020 Paris - 01 43 70 86 32 - GRATUIT
