body {
  padding: 50px;
  font-family: 14px CrayonE;
  background-color: #f9fbf7;
}

.index {
  background-image: url('/images/image=LOGO.jpg')!important;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 180vh;
}

@font-face {
  font-family: CrayonE;
  src: url('stylesheets/CrayonE.ttf');
}

a {
  color: #f9fbf7;
  text-decoration: none;
}

button {
  display: block;
  margin: 50px;
}

img {
  height: 60vh;
  width:auto;
  margin-left: -5%;
  margin-top: -10%;
}

.ph-button {
	  border-style: solid;
    margin-left: 10%;
    margin-right: 80%;
    margin-bottom: 5%;
    margin-top: 10%;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 19px 39px 18px;
    font-size: 18px;
}

.ph-button.ph-btn-purple.left{
  margin-left: 75% !important;
  margin-right: 15%;
  margin-top: 28%;
}

.ph-button.ph-btn-orange.left{
  margin-left: 75% !important;
  margin-right: 15%;
}
/*Green
==========================*/
.ph-btn-green {

  border-color: #3AC162;
	background-color: #5FCF80;
}
.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
    background-color: #4BC970;
    border-color: #3AC162;
}

/*Blue
==========================*/
.ph-btn-blue {

    border-color: #326E99;
    background-color: #3F8ABF;
}

.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
    background-color: #397CAC;
    border-color: #326E99;
}

/*Grey
==========================*/
.ph-btn-grey {
     background-color: #C6CCD2;
     border-color: #AAB3BB;
}
.ph-btn-grey:hover, .ph-btn-grey:focus, .ph-btn-grey:active {
    background-color: #B8BFC7;
    border-color: #AAB3BB;
}
.ph-btn-orange {
  background-color: #df793a;
  border-color: #b3612e;
}
.ph-btn-orange:hover, .ph-btn-grey:focus, .ph-btn-grey:active {
    background-color: #f5853f;
    border-color: #c96d34;
}
.ph-btn-purple {
    background-color:  #9066A3!important;
    border-color: #A575BA !important;
}
.ph-btn-purple:hover, .ph-btn-red:focus, .ph-btn-red:active {
    background: none repeat scroll 0 0 #B983D1 !important;
    border-color: #CE92E8 !important;
}
/*DEMO ONLY FOR CENTER POSITION*/
.ph-container {
  margin: 0 auto;
  display: inline;
}
.ph-float {
  float: left;
  width: 22%;
  padding: 10px;
  padding-top: 50px;
  text-align: center;
}
.ph-clear {
 clear: both;
}
h1 {
  text-align: center;
  font-size: 40px;
}

#hidden {
  margin: 25px;
  visibility: hidden;
}
input
{
    margin: 20px;
}
 ul {
   list-style: none;
   text-align: center;
   font-size: 30px;
 }

 #form {
   display: block;
 }
