body {
  padding: 50px;
  font-family: 14px CrayonE;
  background-color: #f9fbf7;
}

.index {
  background-image: url('/images/image=LOGO.jpg')!important;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 180vh;
}

.index h1 {
  color: #FCF8ED !important;
}

.p1 {
  flex-direction: column;
  width: 20vw;
  margin-left: 20%;
  color: #EFD594;
  text-shadow: 1px 1px 2px black;
}
.p {
  margin-right: 20% !important;
  display: flex;
  flex-direction:row;
  color: #2E2930;
  font-size: 18px;
  font-weight: bold;
}

@font-face {
  font-family: CrayonE;
  src: url('stylesheets/CrayonE.ttf');
}

a {
  color: #f9fbf7;
  text-decoration: none;
}

button {
  display: block;
  margin: 50px;
}

img {
  height: 60vh;
  width:auto;
  margin-left: -5%;
  margin-top: -10%;
}

.height {
  height: 50px;
}

input {
  display: block;
}

.ph-button {
	  border-style: solid;
    margin: 7vw;
    margin-bottom: 5%;
    margin-top: 10%;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A","Gotham Rounded B",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 19px 39px 18px;
    font-size: 18px;
}

.ph-button.ph-btn-purple.left{
  margin-left: 75% !important;
  margin-right: 15%;
  margin-top: 28%;
}

.ph-button.ph-btn-orange.left{
  margin-left: 75% !important;
  margin-right: 15%;
}
/*Green
==========================*/
.ph-btn-green {

  border-color: #3AC162;
	background-color: #5FCF80;
}
.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
    background-color: #4BC970;
    border-color: #3AC162;
}

/*Blue
==========================*/
.ph-btn-blue {

    border-color: #326E99;
    background-color: #3F8ABF;
}

.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
    background-color: #397CAC;
    border-color: #326E99;
}

/*Grey
==========================*/
.ph-btn-grey {
     background-color: #C6CCD2;
     border-color: #AAB3BB;
}
.ph-btn-grey:hover, .ph-btn-grey:focus, .ph-btn-grey:active {
    background-color: #B8BFC7;
    border-color: #AAB3BB;
}
.ph-btn-orange {
  background-color: #df793a;
  border-color: #b3612e;
}
.ph-btn-orange:hover, .ph-btn-grey:focus, .ph-btn-grey:active {
    background-color: #f5853f;
    border-color: #c96d34;
}
.ph-btn-purple {
    background-color:  #9066A3!important;
    border-color: #A575BA !important;
}
.ph-btn-purple:hover, .ph-btn-red:focus, .ph-btn-red:active {
    background: none repeat scroll 0 0 #B983D1 !important;
    border-color: #CE92E8 !important;
}
/*DEMO ONLY FOR CENTER POSITION*/
.ph-container {
  margin: 0 auto;
  display: inline;
}
.ph-float {
  float: left;
  width: 22%;
  padding: 10px;
  padding-top: 50px;
  text-align: center;
}
.ph-clear {
 clear: both;
}
#hidden {
  margin: 25px;
  visibility: hidden;
}
input
{
    margin: 50px 50px -10px 50px;
    padding: 15px;
    border-radius: 5px;
    background-color: #EDCE82;
}
.art {
  background: url('/images/art.jpg');
  background-size: 200vh 100vw;
  background-repeat: no-repeat;
}
.visit {
  background: url('/images/visites.jpg');
  background-size: 200vh 100vw;
  background-repeat: no-repeat;
}
.sport {
  background: url('/images/sport.jpg');
  background-size: 200vh 100vw;
  background-repeat: no-repeat;

}

body h1 {
  text-align: center;
  font-size: 40px;
  color: #F9F1DB;
  border-bottom: solid 2px #F9F1DB;

}
 ul {
   list-style: none;
   text-align: center;
   font-size: 30px;
 }
 .sport ul li {
   font-size: 18px;
   text-align: left;
   background-color: #DFD9E2;
   margin-bottom: 15px;
   padding: 20px;
   color: #2E2930;
 }

 .categories h1 {
  color: #2E2930;
  /* border-top: solid 2px #EDCE82; */
 }

 .art ul li {
   font-size: 18px;
   text-align: left;
   background-color: #F2DCA6;
   margin-bottom: 15px;
   padding: 20px;
   color: #2E2930;
 }

 .visit ul li {
   font-size: 18px;
   text-align: left;
   background-color: #CEBBC1;
   margin-bottom: 15px;
   padding: 20px;
   color: #2E2930;
 }
.sudoku {
  display: flex;
  flex-wrap: wrap;
}

#form {
   display: block;
}
.abuse {
  background: url('/images/abuse.jpg');
  background-size: 200vh 100vw;
  background-repeat: no-repeat;
}
.abuse h1 {
  color: #E3B23C;
}
